<div class="header"><h3>Human Resourses environment</h3></div>


  <div class="container">
    <div class="row">
      <div class="col-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nr.</th>
        <th scope="col">Employees</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
        
      </tr>
      </thead>
      <tbody>
        
      <tr *ngFor="let employee of employees; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          
          <div class="me-7" style="width: 10px,display-flex">
          {{ employee.name }} {{ employee.lastname }}</div>
        </td>
        <td>{{ employee.description }}</td>
      </tr>
      </tbody>
    </table>
</div>
</div>
</div>


